:root{
  --clr-primary: #7573F5;
  --clr-dark: #2B298D;
  --clr-white: white;
  --clr-black: black;
  --clr-clear: rgb(0, 164, 0);
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'inter',sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* navigation */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 10px var(--clr-black);
}

/* BMI paragraphs */

p{
  font-weight: 400;
  text-align: justify;
}

h1{
  font-size: 2rem;
  font-weight: 800;
}

h2{
  font-size: 1.5rem;
  color: #2B298D;
}

.bmi-content{
  padding-top: 160px;
  display: grid;
  grid-template-columns: 560px;
  grid-gap: 20px;
  justify-content: center;
}

.bmi-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.bmi-content button{
  cursor: pointer;
  background-color: var(--clr-primary);
  border-style: none;
  padding: 8px 17px;
  color: var(--clr-white);
  border-radius: calc(8px + 1rem);
}

.bmi-content button:hover{
  background-color: #2B298D;
}

.paragraph{
  padding-bottom: 10px;
}

/* calculator */

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-primary);
  padding: 35px;
  border-radius: 30px;
  margin: 40px;
  color: var(--clr-white);
}

.bmi-calculator{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-group{
  padding: 0.55rem 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.form-group p, label{
  padding: 0.5rem;
  font-weight: 100;
  font-size: 1.2rem;
}

.form-group.col-3{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
}

.form-group input{
  border-style: none;
  padding: 5px;
}

.btns button{
  background-color: var(--clr-white);
  color: var(--clr-primary);
  margin: 0 10px 10px;
}

#clear:hover{
  background-color: var(--clr-clear);
  color: var(--clr-white);
}

#calculate:hover{
  color: var(--clr-white);
}

.results{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bmi-output{
  display: flex;
  align-items: center;
  flex-direction: column;
}

h4{
  font-size: 1.5rem;
  padding: 10px;
}

.alert-error{
  display: none;
}

#bmi-gender{
  text-transform: capitalize;
}





















/* hamburger */

.hamburger{
  cursor: pointer;
  z-index: 1002;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-white);
}


.hamburger.active .bar:nth-child(2){
 opacity: 0;
 background-color: white;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

.sliding{
  background-color: var(--clr-dark);
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(100vw, 0, 0);
  height: 100vh;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

.nav-list{
  list-style: none;
  padding: 8px 30px;
  display: flex;
  flex-direction:column;
  gap: 1em;
  margin: 40px 50px;
  align-items: center;
}

.nav-item ul li{
  font-size: 1em;
}

.nav-item a{
  text-decoration: none;
  color: white;
}

.nav-item:hover{
  opacity: 70%;
}

.sliding.visible{
  transform: translate3d(0vw, 0, 0);
}
