:root{
  --clr-primary: #7573F5;
  --clr-dark: #2B298D;
  --clr-white: white;
  --clr-black: black;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'inter',sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-primary);
}


















/* hamburger */

.hamburger{
  cursor: pointer;
  z-index: 1002;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-white);
}


.hamburger.active .bar:nth-child(2){
 opacity: 0;
 background-color: white;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

.sliding{
  background-color: var(--clr-dark);
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(100vw, 0, 0);
  height: 100vh;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

.nav-list{
  list-style: none;
  padding: 8px 30px;
  display: flex;
  flex-direction:column;
  gap: 1em;
  margin: 40px 50px;
  align-items: center;
}

.nav-item ul li{
  font-size: 1em;
}

.nav-item a{
  text-decoration: none;
  color: white;
}

.nav-item:hover{
  opacity: 70%;
}

.sliding.visible{
  transform: translate3d(0vw, 0, 0);
}
